# Node.js dependencies
node_modules/

# Build output
dist/

# Logs and debugging
*.log

# Environment variables
.env

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store

# ESLint cache
.eslintcache